<ngd-toolbar>
  @if (tasks().length) {
    <button
      mat-icon-button
      type="button"
      aria-label="More options"
      matTooltip="More options"
      [matMenuTriggerFor]="moreMenu"
    >
      <mat-icon aria-label="More vertical icon">
        more_vert
      </mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu" xPosition="before">
      <button
        mat-menu-item
        type="button"
        (click)="taskDeleteService.deleteTasks(tasks())"
      >
        <mat-icon aria-label="Delete icon">
          delete
        </mat-icon>
        <span>
          Delete completed tasks
        </span>
      </button>
    </mat-menu>
  }
</ngd-toolbar>

<ngd-task-list [tasks]="tasks()">
  <ngd-placeholder ngdTaskListPlaceholder>
    <mat-icon ngdPlaceholderIcon>check_box_outline_blank</mat-icon>
    <p ngdPlaceholderTitle>
      No completed tasks yet
    </p>
    <p ngdPlaceholderDescription>
      There are no completed tasks
    </p>
  </ngd-placeholder>
</ngd-task-list>
