<form (submit)="dialog.close(name())">
  <h2 mat-dialog-title>Create new list</h2>
  <mat-dialog-content>
    <p>Enter the name of the list:</p>

    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        autocomplete="off"
        cdkFocusInitial
        maxlength="32"
        #nameInput
        [(ngModel)]="name"
        [ngModelOptions]="{standalone: true}"
      />
      <mat-hint align="end">{{ nameInput.value.length }} / 32</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Cancel</button>
    <button mat-flat-button [mat-dialog-close]="name()">OK</button>
  </mat-dialog-actions>
</form>
