<ngd-toolbar />

<ngd-task-create-form
  #form="ngdTaskCreateForm"
  (create)="taskService.createTaskToday($event)"
/>

@if (tasks().length) {
  <ngd-task-list [tasks]="tasks()" />
} @else {
  <ngd-placeholder>
    <mat-icon ngdPlaceholderIcon>wb_sunny</mat-icon>
    <p ngdPlaceholderTitle>
      All tasks completed
    </p>
    <p ngdPlaceholderDescription>
      There are no more active tasks for today
    </p>
    <button
      type="button"
      mat-button
      mat-flat-button
      ngdPlaceholderAction
      (click)="form.input.focus()"
    >
      <mat-icon>add</mat-icon>
      Create new task
    </button>
  </ngd-placeholder>
}
