<mat-nav-list aria-label="Select a task" style="margin-inline: 8px;">
  @for (task of tasks; track task.id) {
    <mat-list-item    
      role="listitem"
      tabindex="0"
      (click)="taskSelectService.selectTask(task.id)"
      (keydown.enter)="taskSelectService.selectTask(task.id)"
      (keydown.space)="taskSelectService.selectTask(task.id)"
      [activated]="isWebLandscape() && taskSelectService.isSelectedTask(task)"
      [@.disabled]="viewInitialized === false"
      [@fadeHeight]
    >
      <mat-checkbox
        #checkbox
        aria-label="Toggle task completed state"
        matListItemAvatar
        (click)="$event.stopPropagation()"
        (change)="taskToggleScheduler.schedule(task.id)"
        [checked]="task.completed"
      />
      <span matListItemTitle>{{ task.title }}</span>
      @if (task.description) {
        <div matListItemLine [innerHTML]="task.description | markdown" class="ngd-markdown"></div>
      }
      @if (task.date) {
        <div matListItemMeta style="font: var(--mat-sys-body-medium)">
          <time [attr.datetime]="task.date">{{ task.date | date:"EEEE hh:mm a" }}</time>
        </div>
      }
    </mat-list-item>
  }
</mat-nav-list>
