<mat-nav-list aria-label="Select a task" style="margin-inline: 8px;">
  @for (task of tasks; track task.id) {
    <mat-list-item
      (click)="taskSelectService.selectTask(task.id)"
      [activated]="isWebLandscape() && taskSelectService.isSelectedTask(task)"
      [@.disabled]="viewInitialized === false"
      [@fadeHeight]
    >
      <mat-checkbox
        #checkbox
        aria-label="Toggle task completed state"
        matListItemAvatar
        (click)="$event.stopPropagation()"
        (change)="taskToggleService.updateTaskCompleted(task.id, $event.checked)"
        [checked]="task.completed"
      />
      <span matListItemTitle>{{ task.title }}</span>
      @if (task.description) {
        <span matListItemLine>{{ task.description }}</span>
      }
      @if (task.date) {
        <span matListItemMeta style="font: var(--mat-sys-body-medium)">
          <time [attr.datetime]="task.date">{{ task.date | date:"EEEE hh:mm a" }}</time>
        </span>
      }
    </mat-list-item>
  }
</mat-nav-list>
