<ngd-toolbar />

<mat-action-list>
  <div matSubheader>Appearance</div>
  <button mat-list-item (click)="openThemeSelectDialog()">
    <span matListItemTitle>Theme</span>
    <span matListItemMeta>
      {{ theme.getThemeDisplayName(settings.theme) }}
    </span>
  </button>
  <mat-divider />
  <div matSubheader>Tasks</div>
  <mat-list-item lines="4" disableRipple>
    <span matListItemTitle>
      <span>Delay after check mark</span>
      <span style="color: var(--mat-sys-on-surface-variant)">
        {{ slider.value }} ms
      </span>
    </span>
    <mat-slider [min]="0" [max]="1000" [step]="100">
      <input
        matSliderThumb
        #slider
        [value]="settings.delayAfterCheckMark"
        (input)="settings.delayAfterCheckMark = slider.valueAsNumber"
      >
    </mat-slider>
  </mat-list-item>
  <mat-list-item
    (click)="settings.confirmTaskDeletion = !settings.confirmTaskDeletion"
  >
    <span matListItemTitle>Confirm task deletion</span>
    <mat-slide-toggle [checked]="settings.confirmTaskDeletion" />
  </mat-list-item>
  <mat-list-item
    (click)="settings.showTaskDeletionSnackbar = !settings.showTaskDeletionSnackbar"
  >
    <span matListItemTitle>Show task deletion snackbar</span>
    <mat-slide-toggle [checked]="settings.showTaskDeletionSnackbar" />
  </mat-list-item>
  <mat-list-item
    (click)="settings.showTaskCompletionSnackbar = !settings
      .showTaskCompletionSnackbar"
  >
    <span matListItemTitle>Show task completion snackbar</span>
    <mat-slide-toggle [checked]="settings.showTaskCompletionSnackbar" />
  </mat-list-item>
  <mat-divider />
  <div matSubheader>Lists</div>
  <mat-list-item
    (click)="settings.confirmListDeletion = !settings.confirmListDeletion"
  >
    <span matListItemTitle>Confirm list deletion</span>
    <mat-slide-toggle [checked]="settings.confirmListDeletion" />
  </mat-list-item>
  <mat-list-item
    (click)="settings.showListDeletionSnackbar = !settings.showListDeletionSnackbar"
  >
    <span matListItemTitle>Show list deletion snackbar</span>
    <mat-slide-toggle [checked]="settings.showListDeletionSnackbar" />
  </mat-list-item>
  <mat-divider />
  <div matSubheader>About</div>
  <mat-list-item disableRipple>
    <span matListItemTitle>Version</span>
    <span matListItemMeta>0.1.0</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Source code</span>
  </mat-list-item>
</mat-action-list>
