.mat-drawer.mat-drawer-side[position="start"] .mat-toolbar {
  padding-inline-start: 32px;
}

.mat-drawer.mat-drawer-over[position="start"] .mat-toolbar {
  padding-inline-start: 24px;
}

.mat-drawer.mat-drawer-side .mat-mdc-nav-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
