<mat-sidenav-container>
  <mat-sidenav
    #primarySidenav
    position="start"
    fixedInViewport
    [attr.role]='isHandset() ? "dialog" : "navigation"'
    [mode]='isHandset() ? "over" : "side"'
    [opened]="!isHandset()"
    [disableClose]="!isHandset()"
  >
    <mat-toolbar>
      <span style="flex: 1">
        Ngdo
      </span>
      @if (isHandset()) {
        <button
          type="button"
          aria-label="Close primary sidenav"
          mat-icon-button
          matTooltip="Close primary sidenav"
          matTooltipShowDelay="300"
          (click)="primarySidenav.close()"
        >
          <mat-icon aria-label="Close icon">close</mat-icon>
        </button>
      }
    </mat-toolbar>
    <mat-nav-list>
      <div mat-subheader>Tasks</div>
      @for (item of navItems; track item) {
        <a
          mat-list-item
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
          [routerLink]="[item.path]"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          @if (item.data && item.data["icon"]) {
            <mat-icon matListItemIcon>
              {{ item.data["icon"] }}
            </mat-icon>
          }
          <span matListItemTitle>{{ item.title }}</span>
          @if (getTasksLengthByRouteName(item.path)) {
            <span matListItemMeta style="font: var(--mat-sys-body-large)" @fade>
              {{ getTasksLengthByRouteName(item.path) }}
            </span>
          }
        </a>
      }
      <mat-divider />
      <div mat-subheader>Lists</div>
      <div
        id="lists"
        cdkDropList
        cdkDropListLockAxis="y"
        cdkDropListOrientation="vertical"
        (cdkDropListDropped)="dropList($event)"
      >
        @for (list of listService.lists(); track list) {
          <a
            mat-list-item
            routerLink="/"
            cdkDrag
            cdkDragBoundary="#lists"
            [cdkDragStartDelay]="50"
            @fadeHeight
            [@.disabled]="!viewInitialized"
          >
            <mat-icon matListItemIcon>folder</mat-icon>
            <span matListItemTitle>{{ list }}</span>
          </a>
        }
      </div>
      <a mat-list-item (click)="listCreateService.openCreateListDialog()">
        <mat-icon matListItemIcon>add</mat-icon>
        <span>Create new list</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset()) {
        <button
          type="button"
          aria-label="Open primary sidenav"
          mat-icon-button
          matTooltip="Open primary sidenav"
          matTooltipShowDelay="300"
          (click)="primarySidenav.open()"
        >
          <mat-icon aria-label="Menu icon">menu</mat-icon>
        </button>
      }
      <span>{{ title() || name }}</span>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
  <mat-sidenav
    #secondarySidenav
    position="end"
    fixedInViewport
    [attr.role]='isWebLandscape() ? "navigation" : "dialog"'
    [mode]='isWebLandscape() ? "side" : "over"'
    [opened]="isWebLandscape() || taskSelectService.selectedTask() !== null"
    [disableClose]="isWebLandscape()"
    (closed)="taskSelectService.resetSelectedTask()"
  >
    <mat-toolbar style="justify-content: space-between">
      @if (taskSelectService.selectedTask() !== null) {
        <span>
          @if (isWebLandscape() && secondarySidenav.mode === "side") {
            <button
              type="button"
              aria-label="Open in full view"
              mat-icon-button
              matTooltip="Open in full view"
              matTooltipShowDelay="300"
              (click)="openSecondaryFullView()"
            >
              <mat-icon aria-label="Open in full icon">
                open_in_full
              </mat-icon>
            </button>
          }
          <button
            type="button"
            aria-label="More options"
            mat-icon-button
            matTooltip="More options"
            matTooltipShowDelay="300"
            [matMenuTriggerFor]="selectedTaskMoreMenu"
          >
            <mat-icon aria-label="More vertical icon">
              more_vert
            </mat-icon>
          </button>
          <mat-menu #selectedTaskMoreMenu="matMenu">
            <button
              mat-menu-item
              ngd-task-delete
              [tasks]="[taskSelectService.selectedTask()!]"
            >
              <mat-icon aria-label="Delete icon">
                delete
              </mat-icon>
              <span>
                Delete
              </span>
            </button>
          </mat-menu>
        </span>
      }
      @if (!isWebLandscape()) {
        <span style="order: -1; display: flex; align-items: center; gap: 8px">
          <button
            type="button"
            aria-label="Close secondary sidenav"
            mat-icon-button
            matTooltip="Close secondary sidenav"
            matTooltipShowDelay="300"
            (click)="secondarySidenav.close()"
          >
            <mat-icon aria-label="Arrow back icon">arrow_back</mat-icon>
          </button>
          <span>Edit</span>
        </span>
      } @else if (taskSelectService.selectedTask()) {
        @if (secondarySidenav.mode === "over") {
          <span style="order: -1; display: flex; align-items: center; gap: 8px">
            <button
              type="button"
              aria-label="Close full view"
              mat-icon-button
              matTooltip="Close full view"
              matTooltipShowDelay="300"
              (click)="closeSecondaryFullView()"
            >
              <mat-icon aria-label="Arrow back icon">
                arrow_back
              </mat-icon>
            </button>
            <span>Edit</span>
          </span>
        }
        @if (secondarySidenav.mode === "side") {
          <span style="order: -1">
            <button
              type="button"
              aria-label="Close selected task"
              mat-icon-button
              matTooltip="Close selected task"
              matTooltipShowDelay="300"
              (click)="taskSelectService.resetSelectedTask()"
            >
              <mat-icon aria-label="Close icon">close</mat-icon>
            </button>
          </span>
        }
      }
    </mat-toolbar>
    @if (taskSelectService.selectedTask()) {
      <ngd-task-edit-form [task]="taskSelectService.selectedTask()!" />
    } @else {
      <ngd-placeholder>
        <mat-icon ngdPlaceholderIcon>crop_free</mat-icon>
        <p ngdPlaceholderTitle>
          Task not selected
        </p>
        <p ngdPlaceholderDescription>
          Select a task to view its details
        </p>
      </ngd-placeholder>
    }
  </mat-sidenav>
</mat-sidenav-container>
