.mat-mdc-dialog-title {
  --mat-dialog-headline-padding: 8px 24px;
}

.mat-mdc-dialog-content {
  --mat-dialog-with-actions-content-padding: 0;
}

.mat-mdc-dialog-actions {
  --mat-dialog-actions-padding: 0 16px 8px 8px;
}

.mat-mdc-list-item {
  padding-inline: 24px 8px;
}
